* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8.1rem;
  background-color: #fff8e7;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4rem;
}

header nav ul li a {
  color: #001b42;
  font-family: "Manrope", sans-serif;
  font-weight: 500;

  text-decoration: none;
}

header button {
  background-color: #007bc9;
  padding: 0.8rem 2.4rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
}

header button a {
  color: #fff8e7;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8.1rem;
  background-color: #001c42
}

footer aside {
  display: grid;
  gap: 2.4rem;
}

footer h2,
p {
  color: #e0ffff;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 1rem;
}

footer p img {
  width: 3.5rem;
}

footer h3 {
  color: #5ecbf8;
  font-family: "Parisienne", cursive;
  font-size: 4.8rem;
  font-weight: 400;
}
